<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Opret Ønske</title>
</head>
<body>
Velkommen til Digital Ønskeseddel
<table>
    <tr>
        <td>
            <form action="/create-item" method="POST">
                Opret Ønskeseddel<br>
                Navn på liste:
                <br>
                <input type="text" name="itemid">
                <br>
                Navn:
                <br>
                <input type="text" name="itemname">
                <br>
                Beskrivelse:
                <br>
                <input type="text" name="description">
                <br>
                Pris:
                <br>
                <input type="text" name="price">
                <br>
                <input type="submit" value="Submit">
            </form>
        </td>
    </tr>
</table>
</body>
</html>