<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Landing page</title>
</head>
<body>
Welcome to MyApp!

<table>
    <tr><td>Opret</td>
        <td>
            <form name="create-list" action="/create-list" method="POST">
                Opret en ønskeliste:<br>
                <input type="text" name="title">
                <br>
                <input type="submit" value="Opret">
            </form>
        </td>
    </tr>
</table>
</body>
</html>